.curatedWrapper {
    background-color: #121212;
    position: sticky;
    z-index: 2;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: center;

}

.curatedWrapper h2 {
    font-size: 36px;
    letter-spacing: 10px;
    margin-top: 7%;
}

.curatedWrapper p {
    font-size: 16px;
    word-spacing: 6px;
    letter-spacing: 1px;
    margin-top: 3%;
    width:55vw;
    margin-left: 22%;
    font-family: Arial, Helvetica, sans-serif;
}
/* Bilder anpassen */
.curatedPics {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;     
    margin-top: 8%;
}

.goldUhr,.raumDuft {
    margin-top: 5%;
}

.goldUhr, .diamantRing, .raumDuft {
    box-sizing: border-box;
}

.goldUhr, .diamantRing, .raumDuft {
    max-width: 25%;
    height: auto; 
}

.diamantRing {
    max-width: 15%; 
    height: 70%; 
    margin-top: 5%;
}

.container {
    position: relative;
    overflow: hidden;
}

.container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.8s ease;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    flex-direction: column;
}

.container:hover .overlay {
    bottom: 0; 
}
.goldUhr:hover .overlay,
.diamantRing:hover .overlay,
.raumDuft:hover .overlay {
    bottom: 0;
}

.diamantRing{
    position: relative;
    bottom: 20%;
}

.line{
    background-color: rgb(226, 226, 226);
    height:2px;
    width: 70%;
}

.overlay a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}
